<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhua.adminbackend.mapper.ClassesMapper">
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into business_classes (course_id, year, create_user, update_user, create_time, update_time, cost, course_count)
        values  (#{courseId}, #{year}, #{createUser}, #{updateUser}, #{createTime}, #{updateTime}, #{cost}, #{courseCount})
    </insert>

    <update id="update">
        update business_classes
        <set>
            <if test="year != null">
                year = #{year},
            </if>
            <if test="course_id != null">
                course_id = #{courseId},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from business_classes
        where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="list" resultType="com.mhua.adminbackend.pojo.vo.ClassesVO">
        select cl.*, co.name as course_name from business_classes cl LEFT JOIN business_course co on cl.course_id = co.id
        <where>
            <if test="courseId != null">
                and course_id = #{courseId}
            </if>
            <if test="year != null">
                and year = #{year}
            </if>
        </where>
    </select>

    <select id="getById" resultType="com.mhua.adminbackend.pojo.entity.Classes">
        select * from business_classes where id = #{id}
    </select>

</mapper>